doctype
head
  title= page
  meta(charset='utf-8')
  meta(name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")
  link(rel='stylesheet' href='css/style.css')
body
  div(id='info')
    span(class='circle')
    span(class='circle')
    span(class='circle')
    span(class='circle')
    span(class='circle')
    span(class='circle')
    span(class='circle')
    span(class='circle')
    span(class='circle')
    span(class='circle')
  script(src='js/three.min.js')
  script(src='js/OrbitControls.js')
  script(src='js/DragControls.js')
  script(src='js/baalti.js')
